.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.container-movies-list {
  display: grid;
  grid: auto / auto auto auto auto auto;
}

.movie-item {
  text-align: center;
  margin: 0px 0px 25px 50px;
}
